---
env:
  node: true
  browser: true
rules:
  quotes: [0, double]
  curly: 0
  no-underscore-dangle: 0
  camelcase: 1
  semi: 1
  no-use-before-define: 1
  eqeqeq: 1
  no-alert: 2
  no-unused-vars: 2
  no-undef: 2

